/*Formulaire 1---------------------------------------------------------------*/

.form1{
    font-family: sans-serif;
    font-weight: bold;
}

sup {
    color:red;
}
.f1{
    display: block;
}

fieldset{
    margin: 1%;
}

.button1{
    margin: 1%;
    background-color: #3c97ae;
    color: white;
    border: none;
    padding: 1%;
    font-size: 1.5em;
}

#email{
    width: 19.4%;
}
#subject{
    width: 19.4%;
}
#message {
    width: 19.4%;
    height: 15em;
}
/*fin du premier Formulaire*/

form {
    border-bottom: solid black 5px;
}
/*début de second formulaire*/
.form2 {
    font-family: sans-serif;
    font-weight: bold;
}

.leg2 {
    font-size: 1.5em;
    border-bottom: solid 3px grey;
    width: 50%;
    margin: 1%;
}

.button2 {
    background-color:#FF8700;
    color: white;
    border: none;
    padding: 1%;
    margin:1%;
    margin-left: 5%;
}
.field2 {
    margin-left: 7%;
}
